@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap');

/*font-family: "Story Script", sans-serif;*/



header{
    display: flex;
    justify-content: center;
    font-family: "Story Script", sans-serif;
    font-size: 130px;
    width: 100%;
    border: 3px solid blueviolet;
    border-radius: 5px; 
    background-color: blueviolet;
    color: white;
   
}

.columnas{
    display: flex;
    margin-top: 10px;
}

.botonera ul{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    padding: 0;
    margin-top: 10px;
    font-size: x-large;
    gap: 50px;
    border: 2px solid blueviolet;
}



/*comienza inicio*/

.imagen{
    margin: 40px;
    width: 400px;
    height: auto;
    border: 2px solid blueviolet;
    padding: 5px;
}

nav ul{
    list-style: none;
    line-height: 80px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(91, 10, 166);

}

nav ul li a.activo{
    background-color: rgb(225, 197, 245);
}

.descripcion{
    width: 20%;
    margin-top: 30px;
    display: flex;
    gap: 24px;
}

.descripcion h2{
    font-size: xx-large;
    margin-left: 20px;
}

/*fin inicio*/


/*comienza galeria*/

.galeria{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.fotos img{
    width: 15%;
    height: auto;
    border: solid blueviolet;
    padding: 5px;
    box-sizing: border-box;
    margin-left: 20px;

}


h2{
    font-size: 30px;
    margin-left: 60px;
    padding: 20px;
}

.columnas a{
    text-decoration: none;
    color: blueviolet;
    font-size: 25px;
    
}

.columnas img{
    margin-left: 20px;
    border: 2px solid blueviolet;
    padding: 3px;
}


/*fin galeria*/



/*inicio servicios*/

.servicios h2{
    font-family: "Story Script", sans-serif;
    font-size: 60px;

    

}

.servicios ul li{
    font-size: 30px;
    margin-left: 30px;
    
}


.contacto h2{
    font-family: "Story Script", sans-serif;
     font-size: 60px;
    

}

.plataformas h2{
     font-family: "Story Script", sans-serif;
     font-size: 60px;

}

/*fin servicios*/