@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap');

/*font-family: "Story Script", sans-serif;*/



header{
    display: flex;
    justify-content: center;
    font-family: "Story Script", sans-serif;
    font-size: 130px;
    width: 100%;
    border: 3px solid blueviolet;
    border-radius: 5px; 
    background-color: blueviolet;
    color: white;
   
}

.columnas{
    display: flex;
    margin-top: 10px;
}

.botonera ul{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    padding: 0;
    margin-top: 10px;
    font-size: x-large;
    gap: 50px;
    border: 2px solid blueviolet;
}



/*comienza inicio*/
.columnas{
    width: 60%;
    margin-left: 50px;
}

.columnas img{
    margin: 30px;
    width: 170px;
    height: auto;
    border: 2px solid blueviolet;
    padding: 5px;
}

nav ul{
    list-style: none;
    line-height: 80px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(91, 10, 166);

}

nav ul li a.activo{
    background-color: rgb(225, 197, 245);
}

.descripcion{
    width: 70%;
    margin-top: 30px;
    display: flex;
    gap: 24px;
}

.descripcion h2{
    display: flex;
    justify-content: center;
    font-size: xx-large;
   
}



/*fin inicio*/


/*comienza galeria*/

.titulo{
    display: flex;
    justify-content: center;
    background-color: rgb(196, 144, 245);
   
}

.contenedor{
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: 50px;
}


.caja p{
    width: 50%;
}

.caja a{
    color: blueviolet;
}

.caja img{
    border: 2px solid blueviolet;
    padding: 2px;
}






/*fin galeria*/



/*inicio servicios*/


.servicios h2{
    font-family: "Story Script", sans-serif;
    font-size: 60px;
    color: blueviolet;
    
  
   

}

.servicios ul li{
    font-size: 25px;
    
}

.contacto{
    margin-left: 10%;
}


.contacto h2{
    font-family: "Story Script", sans-serif;
     font-size: 60px;
     color: blueviolet;
    

}



.contacto i{
    font-size: 30px;
}
/*fin servicios*/

/*inicio frekuency*/

.frekuency h2{
    display: flex;
    justify-content: center;
    background-color: rgb(196, 144, 245);

}

.frekuency p{
    margin-left: 20px;
}

.frekuency img{
    width: 300px;
    border: 2px solid blueviolet;
    padding: 3px;
   margin: 20px;
}
/*fin frekuency*/